<header>

  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,300&family=Noto+Sans+Display:wght@400;800&family=Roboto:wght@500;900&family=Secular+One&display=swap"
      rel="stylesheet">
  </head>

  <!--
  <nav>

    <section class="nav-name">
      <a href="/">
        Wilton Martinez</a>
    </section>

    <section class="nav-links-container">
      <ul class="links">
        <li class="opciones"><a id="op" routerLink="/">Opciones</a>
          <ul>
            <li><a class="about" routerLink="/about">Home</a></li>
            <li> <a class="resumen" routerLink="/resumen">Resumen</a></li>
            <li> <a class="proyecto" routerLink="/proyectos">Proyectos</a></li>
          </ul>
        </li>
        <li class="fuera"><a class="about" routerLink="/about">Home</a></li>
        <li class="fuera"> <a class="resumen" routerLink="/resumen">Resumen</a></li>
        <li class="fuera"> <a class="proyecto" routerLink="/proyectos">Proyectos</a></li>

        <a class="contacto" routerLink="/contacto">Contacto</a>
      </ul>
    </section>
  </nav>-->


  <!-- start nav -->
  <nav id="menu">
    <section class="nav-name">
      <a href="/">
        Wilton Martinez</a>
    </section>
    <!-- start menu -->
    <ul class="pri">
      <li><a><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
        width="30" height="30"
        viewBox="0 0 30 30"><path d="M 3 7 A 1.0001 1.0001 0 1 0 3 9 L 27 9 A 1.0001 1.0001 0 1 0 27 7 L 3 7 z M 3 14 A 1.0001 1.0001 0 1 0 3 16 L 27 16 A 1.0001 1.0001 0 1 0 27 14 L 3 14 z M 3 21 A 1.0001 1.0001 0 1 0 3 23 L 27 23 A 1.0001 1.0001 0 1 0 27 21 L 3 21 z"></path></svg></a>
        <!-- start menu desplegable -->
        <ul>
          <li><a class="about" routerLink="/about">Home</a></li>
          <li> <a class="resumen" routerLink="/resumen">Resumen</a></li>
          <li> <a class="proyecto" routerLink="/proyectos">Proyectos</a></li>
        </ul>
        <!-- end menu desplegable -->
      </li>
    </ul>

    <ul class="big">
      <li><a class="about" routerLink="/about">Home</a></li>
      <li> <a class="resumen" routerLink="/resumen">Resumen</a></li>
      <li> <a class="proyecto" routerLink="/proyectos">Proyectos</a></li>
    </ul>
    <!-- end menu -->
  </nav>
  <!-- end nav -->
</header>
