:root
{
  --decoracion: none;
  --organizar-display: inline-block;

}


nav
{

  width: 100%;
  font-size: 2.0rem;
  background-color: #4d4dff;
  height: 130px;
  /*padding-top: 40px;
  padding-bottom: 40px;
  */
  display: grid;
  grid-template-columns: 1fr 1fr;
}


nav .nav-name
{
  justify-self: start;
  align-self: center;
  margin-left: 50px;

}

nav .nav-name a
{
  color: white;
  text-decoration:  var(--decoracion);
  font-size: 2.8rem;
}



nav .nav-links-container {

  display: grid;
  place-self: center;

}





.about
{

  text-decoration: var(--decoracion);
  color: white;

}

.resumen
{
  text-decoration: var(--decoracion);

  padding-left: 25px;
  color: white;
}


.proyecto
{
  text-decoration: var(--decoracion);
  padding-left: 25px;
  color: white;
}


.contacto
{
  text-decoration: var(--decoracion);

  padding-left: 25px;
  color: white;
}


