:root {
  --decoracion: none;
  --organizar-display: inline-block;
}

main {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);


}

main .main-perfil {


  height: 500px;
  position: relative;
  place-self: center;
  margin-top: 40px;
    margin-bottom: 30px

}

main .main-perfil .main-perfil-container {


  display: grid;
  grid-template-columns: 1fr;
  width: 300px;
  top: 10px;
  left: 150px;
  padding-bottom: 10px;
  box-shadow: -5px 5px 5px #4d4dff;

}

main .main-perfil .main-perfil-container img {
  width: 100%;
  border-radius: 250px;
  object-fit: contain;
}



.nombre {
  font-size: 3rem;
  text-align: center;
  padding-top: 10px;
}

.profesion {
  text-align: center;
  font-size: 1.5rem;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: #4d4dff solid 3px;
}

.redes-value {

  /* background-color: green;*/
  display: var(--organizar-display);
  text-align: center;
}

.facebook {
  display: var(--organizar-display);
  color: #884dff;
}

.linkedin {
  padding-left: 15px;
  display: var(--organizar-display);
  color: #884dff;
}

.instagram {
  padding-left: 15px;
  display: var(--organizar-display);
  color: #884dff;
}

main .main-descripcion {

  /*background-color: #d2e9ff;*/
  /*border: black solid 1px;*/
  /*border-left: #4d4dff solid 3px;*/
  position: relative;
  place-self: center;
  margin-right: 160px;



}

/*
main .main-descripcion .main-descripcion-container {
  position: absolute;
  display: grid;
  border: black solid 2px;
  grid-template-rows: repeat(2, 1fr);;
}
*/
.saludo {
  font-size: 10rem;
  place-self: center;
  text-align: center;

}

.descripcion {
  font-size: 2rem;
  place-self: center;
  text-align: justify;
}


main .main-descripcion .botones
{
  display: grid;
  grid-template-columns: repeat(2, 1fr);


}


main .main-descripcion .botones .btn{

  border-bottom: #4d4dff solid 3px;
  place-self: left center;
  font-size: 1.6rem;


}

.btn:hover {
  background-color:#884dff;
}

