
<app-header></app-header>
<main>
  <section class="title">
    <h2>Escribeme</h2>
  </section>
  <form class="principal" [formGroup]="datos">
    <ul>
      <!----  <li>
        <label for="name">Nombre completo</label>
        <input type="text" id="name" name="user_name" placeholder="">
      </li>  -->


      <li>
        <label for="mail">Correo electrónico</label>
        <input type="email" id="mail" name="user_mail" formControlName="correo">
      </li>
      <li>
        <label for="msg">Asunto</label>
        <input id="msg_asunto" name="user_asunto" size="15" maxlength="30" formControlName="asunto">
      </li>
      <li>
        <label for="msg">Mensaje</label>
        <textarea id="msg" name="user_message" placeholder="Escribele a Wilton" formControlName="mensaje"></textarea>
      </li>
      <li class="button">
        <button type="submit" (click)="envio()">Enviar</button>
      </li>
     </ul>

  </form>


</main>
<app-footer></app-footer>

