main {
  width: 100%;
  padding-left: 250px;
  padding-right: 250px;
}


main .title
{
  text-align: center;
  margin-top: 50px;

}


main .title h2
{
  font-weight: bolder;
  color: #884dff ;
  font-size: 4.0rem;

}



main .principal
{
  border: #884dff solid 4px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 5px 5px 5px 5px;
  box-shadow: -7px 7px 15px #4d4dff;
}

main .principal ul
{
  text-align: center;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  list-style: none;


}


main .principal li
{
  width: 100%;
  place-self: center;
  margin-top: 15px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  padding-left: 200px;
  padding-right: 200px;


}



main .principal label
{

  color: #884dff ;
  font-size: 2.5rem;
  font-weight: bold;


}

main .principal input
{

  margin-top: 5px;
  margin-bottom: 10px;
  outline:none;
  border: #4d4dff solid 1px;
  border-bottom: #4d4dff solid 3px;
  border-radius: 5px 5px 5px 5px;
  height: 35px;
  font-size: 2.0rem;


}


main .principal textarea
{
  margin-top: 1px;
  margin-bottom: 10px;
  height: 100%;
  outline:none;
  border: #4d4dff solid 1px;
  border-bottom: #4d4dff solid 3px;
  border-radius: 5px 5px 5px 5px;
  font-size: 2.0rem;
  resize: none;
}

main .principal button
{


  font-size: 2.0rem;
  height: 30px;
  margin-left: 140px;
  margin-right: 140px;
  outline:none;
  background-color: transparent;
  border: none;
  border-bottom: #4d4dff solid 6px;
  border-radius: 5px 5px 5px 5px;
  font-style: oblique;
  font-weight: bold;

}


main .principal button:hover {
  background-color:#884dff;
}
