:root {
  --organizar-display: inline-block;
  --color: white;
}

footer {
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
  background-color: #242F9B;
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-family: 'Roboto', sans-serif;
}

footer .container-links-otros {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-self: center;
  gap: 10px;
}

footer .container-links-derecho {
  margin-left: 50px;
  align-self: center;
}

footer .container-links-otros .telefono {
  text-align: center;
}

footer .container-links-otros .correo {
  text-align: center;
}

footer .container-links-otros .redes {
  text-align: center;
}

footer .container-links-otros .redes .facebook {
  color: white;
  padding-left: 10px;
}

footer .container-links-otros .redes .linkedin {
  color: white;
  padding-left: 10px;
}

footer .container-links-otros .redes .instagram {
  color: white;
  padding-left: 10px;
}
