main {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  padding-left: 200px;
  padding-right: 200px;
}

main .introduccion {
  text-align: center;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 30px;

}

main .introduccion .title {
  font-size: 3.5rem;
  font-weight: bolder;
  color: #4d4dff;
  font-family: 'Secular One', sans-serif;
}

main .introduccion .description {
  font-size: 2.5rem;
  text-align: justify;
  margin-left: 20px;
  border-left: #4d4dff solid 6px;
  padding-left: 30px;
  margin-top: 40px;
  font-family: 'Roboto', sans-serif;
}

main .moto {
  width: 80%;
  place-self: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 100px;
  margin-top: 60px;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 7px 7px 15px #4d4dff;

  -webkit-box-shadow: -1px 6px 31px 2px #646FD4;
  -moz-box-shadow: -1px 6px 31px 2px #646FD4;
  box-shadow: -1px 6px 31px 2px #646FD4;
}

main .moto .moto-title {
  place-self: center;
  margin-left: 70px;
  margin-bottom: 100px;


}


main .moto .image-moto {
  place-self: center;
}

main .moto .moto-title h3
{
  font-weight: bold;
  font-size: 2.5rem;
  border-left: #4d4dff solid 6px;
  color: #4d4dff;
  margin-top: 40px;
  margin-bottom: 30px;
  padding-left: 30px;
  font-family: 'Secular One', sans-serif;


}

main .moto .moto-title p
{
  font-size: 1.7rem;
  text-align: justify;
  font-family: 'Roboto', sans-serif;

}



main .moto .image-moto img {
  max-width: 70%;
  max-height: 70%;
  object-fit: contain;
  border-radius: 5px 5px 5px 5px;
  margin-left: 70px;
  margin-top: 40px;
  margin-bottom: 30px;
}


main .ciclas {
  width: 80%;
  place-self: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 100px;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 7px 7px 15px #4d4dff;
  -webkit-box-shadow: -1px 6px 31px 2px #646FD4;
  -moz-box-shadow: -1px 6px 31px 2px #646FD4;
  box-shadow: -1px 6px 31px 2px #646FD4;
}

main .ciclas .ciclas-title {
  place-self: center;
  margin-left: 70px;
  margin-bottom: 100px;
}




main .ciclas .image-ciclas {
  place-self: center;
}


main .ciclas .ciclas-title h3
{
  font-weight: bold;
  font-size: 2.5rem;
  border-left: #4d4dff solid 6px;
  color: #4d4dff;
  margin-top: 40px;
  margin-bottom: 30px;
  padding-left: 30px;
  font-family: 'Secular One', sans-serif;


}

main .ciclas .ciclas-title p
{
  font-size: 1.7rem;
  text-align: justify;
  font-family: 'Roboto', sans-serif;

}

main .ciclas .image-ciclas img {
  max-width: 70%;
  max-height: 70%;
  object-fit: contain;
  border-radius: 5px 5px 5px 5px;
  margin-left: 70px;
  margin-top: 40px;
  margin-bottom: 30px;
}

main .web {
  width: 80%;
  place-self: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 100px;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 7px 7px 15px #4d4dff;
  -webkit-box-shadow: -1px 6px 31px 2px #646FD4;
  -moz-box-shadow: -1px 6px 31px 2px #646FD4;
  box-shadow: -1px 6px 31px 2px #646FD4;
}

main .web .web-title {
  place-self: center;
  margin-left: 70px;
  margin-bottom: 100px;
}

main .web .image-web {
  place-self: center;
}

main .web .web-title h3
{
  font-weight: bold;
  font-size: 2.5rem;
  border-left: #4d4dff solid 6px;
  color: #4d4dff;
  margin-top: 40px;
  margin-bottom: 30px;
  padding-left: 30px;
  font-family: 'Secular One', sans-serif;


}

main .web .web-title p
{
  font-size: 1.7rem;
  text-align: justify;
  font-family: 'Roboto', sans-serif;

}


main .web .image-web img {
  max-width: 70%;
  max-height: 70%;
  object-fit: contain;
  border-radius: 5px 5px 5px 5px;
  margin-left: 70px;
  margin-top: 40px;
  margin-bottom: 30px;
}


/*MEDIA QUERY PARA TABLETS*/
@media(max-width: 768px)
{
  main{
    padding-left: 0px;
    padding-right: 0px;
  }


}
