
<app-header></app-header>
<head>
  <!-- letras titulos proyectos-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Alata&family=Kanit:ital,wght@1,300&family=Noto+Sans+Display:wght@400;800&family=Roboto:wght@500;900&family=Secular+One&display=swap"
    rel="stylesheet">


  <!-- titulo grande -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,300&family=Noto+Sans+Display:wght@400;800&family=Roboto:wght@500;900&family=Secular+One&display=swap"
    rel="stylesheet">
</head>
<main>

<div class="introduccion">
  <h1 class="title">Proyectos</h1>
  <p class="description">Aquí se encuentra una lista de los proyectos en los que he participado, algunos son totalmente personales y otros son proyectos académicos de la universidad.</p>
</div>

<section class="moto">
  <div class="moto-title">
    <h3>Repuestos motocicletas</h3>
    <p> En el presente proyecto se creo un software que permite tener un control sobre las ventas de repuestos o partes de motocicletas. Allí se pueden buscar, vender y agregar nuevos partes de motocicletas para la gestión de un negocio que comercialice partes de motocicletas. </p>
  </div>
  <div class="image-moto">
    <figure class="image1">
      <a href="https://github.com/Wilton2612/Ventas-Repuestos" target="_blank"> <img src="../../assets/image/taller.jpg" alt="imagen del repositorio taller de motos" ></a>

    </figure>
  </div>
</section>


<section class="ciclas">
 <div class="ciclas-title">
  <h3>Venta de bicicletas</h3>
  <p> En este presente proyecto se creo un software que permite la venta de bicicletas, en este participaron otras personas, dado que fue un proyecto de un curso universitario.
   </p>
  </div>
  <div class="image-ciclas">
    <figure class="image2">
      <a href="https://github.com/Wilton2612/Venta-bicicletas" target="_blank"> <img src="../../assets/image/bici.jpg" alt="imagen del repositorio de venta de bicicletas" ></a>
    </figure>

  </div>

</section>

<section class="web">
  <div class="web-title">
    <h3>Página web personal</h3>
    <p>Este proyecto cree mi página web personal, la cual pueden observar ahora mismo. Adjunto el enlace al repositorio para el código fuente.</p>
  </div>
  <div class="image-web">
    <figure class="image3">
      <a href="https://github.com/Wilton2612/web-personal" target="_blank"> <img src="../../assets/image/will.jpg" alt="imagen del repositorio de esta página web" ></a>

    </figure>

  </div>

</section>

</main>
<app-footer></app-footer>

